# DO NOT CHECK CHANGES TO THIS FILE INTO GIT!

[UserProfile]

test.temp-dir = test/temp
test.remove-temp-dir = 1

test.mongodb-host = localhost
test.mongodb-database = user_profile_test

test.admin = kbuserprofileadmin

# admin token is required
test.admin-token = xxx

# token is required
test.usr1-token = xxx


test.auth-service-url = https://ci.kbase.us/services/auth/api/legacy/KBase
test.globus-url = https://ci.kbase.us/services/auth/api/legacy/globus

#test.auth-service-url-allow-insecure = false
