# DO NOT CHECK CHANGES TO THIS FILE INTO GIT!

[UserProfile]

test.temp-dir = test/temp
test.remove-temp-dir = 1

test.mongodb-host = localhost
test.mongodb-database = user_profile_test

test.admin = kbuserprofileadmin
test.admin-pwd = xxx
test.admin-token = xxx

test.usr1 = wstester4
test.usr1-pwd = xxx
test.usr1-token = xxx


test.auth-service-url = https://ci.kbase.us/auth/api/legacy/KBase
test.globus-url = https://ci.kbase.us/auth/api/legacy/globus

#test.auth-service-url = https://kbase.us/services/authorization
#test.globus-url = https://nexus.api.globusonline.org